.hero-image {
    width: 100%;
    height: 600px;
    background: #1d1d1d;
}

.text-overlay {
    text-align: center;
    max-width: 1440px;
    margin: auto;
    height: 200px;
    position: relative;
    top: 150px;
}

.cursive {
    font-family: 'Snell Roundhand Black' !important;
    color: #fff;
    font-size: 36px;
}

.din {
    font-family: 'DINOT Medium' !important;
    color: #fff;
    font-size: 18px;
}

.din-regular {
    font-family: 'DINOT Regular' !important;
    color: #fff;
    font-size: 18px;
}

.alehouse {
    font-family: 'Evanston Alehouse 1826 Medium', sans opens !important;
    text-transform: uppercase;
    color: #fff;
    font-size: 80px;
}

.atsackers {
    font-family: 'ATSACKERS HEAVY GOTHIC' !important;
    font-size: 18px;
}

@media(max-width: 767px) {
    .text-overlay {
        height: auto;
        margin: 0 20px 0 20px;
    }

    .cursive {
        font-size: 23px;
    }

    .din {
        font-size: 18px;
    }

    .din-regular {
        font-size: 18px;
    }

    .alehouse {
        font-size: 40px;
    }
}

.anchor-bar {
    width: 100%;
    background: #ac9b6a;
    padding: 20px 0 1px 0;
    min-height: 25px;
    margin-bottom: 100px;
}

.anchor-bar ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.anchor-bar ul li {
    display: inline-block;
}

.anchor-bar ul a {
    font-family: 'Evanston Alehouse 1826 Medium', sans opens;
    color: #1d1d1d;
    font-size:18px;
}

.anchor-bar ul span {
    color: white;
}

.content {
    width: 100%;
    background: white;
    max-width: 1440px;
    margin: auto;
}

.container-fluid {
    margin-bottom: 100px;
}

.second-border {
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #ac9b6a;
    padding: 5px 0 5px 0;
}

.below-header {
    margin-bottom: 80px;
}

.content-box {
    padding: 2px 0 2px 0;
    border-style: solid;
    border-width: 6px 0 0 0;
    border-color: #ac9b6a;
}

.content-box p ul {
    padding-left: 15px;
}

.content-box p {
    font-size: 18px;
    color: #1d1d1d;
    line-height: 28px;
}

.content-box .description {
    font-size: 16px;
    line-height: 50px;
    color: #1d1d1d;
    font-family: 'DINOT Regular';
}

.content-box .description-title {
    line-height: 0px;
    font-family: 'DINOT Medium';
    font-size: 16px;
    color: #1d1d1d;
}

.content-box .sizing-description {
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    color: #1d1d1d;
    font-family: 'DINOT Regular';
}

.content-box .sizing-description p {
    max-width: 305px;
    margin: auto;
    font-size: 13px;
}

.content-box .general-principles .description {
    font-size: 14px;
}

.content-box .signifier .description {
    font-size: 16px;
    line-height: 20px;
}

.content-box .alternate .description {
    font-size: 14px;
    line-height: 16px;
}

.content-box .icon .description {
    font-size: 14px;
    line-height: 0;
}

.content-box .typeface .description {
    font-size: 14px;
    line-height: normal;
}

.content-box .typeface .description-title {
    font-size: 21px;
    line-height: normal;
}

.content-box .typeface .description-title-2 {
    font-size: 18px;
    font-family: 'DINOT Regular';
    line-height: normal;
}

.content-box .typeface .text {
    min-height: 102px;
}

.content-box .square-images {
    height: 350px;
    position: relative;
}

.content-box .signifier img {
    max-width: 200px;
    margin-bottom: 40px;
}

.content-box .alternate img {
    max-width: 300px;
    margin-bottom: 40px;
}

.content-box .icon img {
    max-width: 200px;
    margin-bottom: 40px;
}

.content-box .icon .description-title {
    font-family: 'DINOT Medium';
    font-size: 14px;
    color: #1d1d1d;
}


.content-box .signifier .text {
    max-width: 170px;
    margin: auto;
    text-align: left;
}

.content-box .border-image {
    border-style: solid;
    border-top-width: 0;
    border-image: url(/images/sections/logo/underline-gfx.svg) 10;
    border-bottom-width: 5px;
}

.content-box button {
    text-transform: uppercase;
    color: #ac9b6a;
    font-size: 16px;
    margin-left: 0px;
}

.content-headings {
    color: #ac9b6a;
    text-align: center;
    font-size: 28px;
}

.spacer {
    width: 100%;
    height: 35px;
}

.line-height-30 {
    line-height: 30px !important;
}

.center {
    text-align: center;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.title {
    color: #1d1d1d;
    font-size: 42px;
}

#about-mistifi img {
    max-width: 600px;
}

.content-box .color .description-title {
    font-family: 'Evanston Alehouse 1826 Medium';
    font-size: 21px;
    color: #1d1d1d;
    text-align: left;
    line-height: normal;
}

.content-box .color .description {
    font-family: 'DINOT Regular';
    font-size: 16px;
    color: #1d1d1d;
    text-align: left;
    line-height: normal;
}

.content-box .color .secondary-title,
.content-box .practices .secondary-title {
    font-size: 18px;
    color: #ac9b6a;
    margin-bottom: 20px;
}

.color-box {
    width: 200px;
    height: 200px;
}

.black {
    background: #1d1d1d;
}

.white {
    background: #fff;
    border: 1px solid black;
}

.gold {
    background: #AC9B6A;
}

.graduated-gold {
    background-image: url('/images/sections/color/graduated-gold-color-swatch-200x200.jpg');
}

.phantom {
    background: #3a1d61;
}

.rainbow {
    background: #6f370f;
}

.houdini {
    background: #2b304b;
}

.content-box .packaging .description-title,
.content-box .brand-imagery .description-title,
.content-box .marketing .description-title,
.content-box .practices .description-title {
    font-family: 'Evanston Alehouse 1826 Medium';
    font-size: 21px;
    color: #1d1d1d;
    text-align: center;
    line-height: normal;
    margin-bottom: auto;
}

.content-box .packaging .description,
.content-box .brand-imagery .description,
.content-box .marketing .description,
.content-box .practices .description  {
    font-family: 'DINOT Regular';
    font-size: 14px;
    color: #1d1d1d;
    text-align: center;
    line-height: normal;
}

.content-box .packaging .border-image {
    max-width: 315px;
    margin: auto;
    border-bottom-width: 6px;
    font-size: 21px;
    color: #1d1d1d;
    font-family: 'Evanston Alehouse 1826 Medium';
}

.content-box .brand-imagery .box-height {
    min-height: 100px;
}

.content-box .brand-imagery img,
.content-box .practices img {
    max-width: 100%;
}

.content-box .practices .img-top {
    max-height: 270px;
}

.content-box .practices .img-top-300 {
    width: 300px;
}

.content-box .practices .img-top-335 {
    width: 335px;
}

.content-box .practices .img-top-200 {
    width: 200px;
}

.content-box .contact .text-contain {
    max-width: 800px;
    margin: auto;
}

.contact a {
    color: #1d1d1d;
    text-decoration: underline;
}

.footer {
    width: 100%;
    height: 200px;
    background:#1d1d1d;
}

.footer .footer-logo {
    text-align: center;
    padding-top: 35px;
}

.footer .text {
    color: #666666;
    text-align: center;
    margin-top: 10px;
}

.footer .text p {
    margin-bottom: 0;
    font-size: 18px;
    font-family: 'DINOT Regular';
}

@media(max-width: 767px) {
    .footer {
        height: auto;
        padding:10px 20px;
    }

    .footer .text {
        text-align: left;
    }

    .footer .brand {
        max-width: 150px;
        width: auto;
        margin-bottom: 50px;
    }

    .footer .text p {
        font-size: 14px;
    }
}

.footer .text a {
    color: #666666;
}

.footer .text a:hover {
    color: #ffffff;
}

.back-to-top {
    width: 40px;
    height: 40px;
    background: transparent;
}

.back-to-top.fWohKN {
    font-size: 25px;
}

.back-to-top i {
    font-size: 25px;
}
.mini-spacer {
    width: 100%;
    height: 5;
}

.small-spacer {
    width: 100%;
    height: 20px;
}

.medium-spacer {
    width: 100%;
    height: 40px;
}

.large-spacer {
    width: 100%;
    height: 100px;
}

@media(max-width: 767px) {
    .col-6.no-padding {
        padding: 0;
    }

    .left-unique-padding {
        padding-left: 28px;
    }

    .no-padding-right {
        padding-right: 0;
    }
}

@media(max-width: 1440px) {
    .content {
        padding: 0 25px;
    }
}

.padding-left-right {
    padding-left: 5px;
    padding-right: 5px;
}

.image-max-width {
    max-width: 100%;
}

.max-width-500 {
    max-width: 500px;
}

.max-width-250 {
    max-width: 250px;
}

.max-width-100 {
    max-width: 100px;
}

.max-width-85 {
    max-width: 85px;
}

.max-width-70 {
    max-width: 70px;
}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
  .navbar-expand-md .navbar-nav {
    position: relative;
    top: 15px;
  }
}

@media(max-width:1000px) {
    .tablet-view-minimum {
        display: none;
    }
    .tablet-break {
        display: block !important;
    }
}

@media(max-width: 767px) {
    .anchor-bar {
        margin-bottom: 25px;
    }

    .anchor-bar ul li {
        display: block;
        line-height: 36px;
    }
    .anchor-bar ul span {
        display: none;
    }
    .anchor-bar ul a {
        line-height: 36px;
    }

    .find-store-btn {
        margin-bottom: 20px;
    }

    .content {
        padding: 10px 20px 10px 20px;
    }

    .second-border {
        padding: 5px 0 35px 0;
    }

    .container-fluid {
        margin-bottom: 0;
    }

    .below-header {
        margin-bottom: 40px;
    }

    .title {
        font-size: 28px;
    }

    .content-box p {
        font-size: 16px;
    }

    .general img,
    #packaging img,
    .brand-imagery img,
    .marketing img,
    .practices img {
        max-width: 100%;
    }

    .content-box .general-principles .description {
        font-size: 12px;
    }

    .content-box .square-images {
        height: auto;
        position: relative;
    }

    .content-box .icon .description {
        line-height: normal;
    }

    .right-align {
        text-align: left;
    }

    .content-box .typeface .text {
        min-height: auto;
    }

    .color-box {
        width: 150px;
        height: 150px;
    }
}

img {
    max-width: 100%;
}

